.about_line {
  background-color: #f8a271;
  margin-top: 5%;
  height: 90px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  column-gap: 3.5%;
}
.third {
  background-color: #f5bb95;
}
.heading3 {
  text-align: center;
  padding-top: 7rem;
}
.heading3 h1 {
  /* font-family: "Roboto"; */
  font-style: normal;
  font-weight: 900;
  font-size: 60px;
  color: #352817;
}
.lr_container {
  display: flex;
  justify-content: space-between;
  padding: 0 3rem;
  margin-top: 20rem;
}
.left {
  text-align: center;
  font-family: "Roboto Mono";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  color: #362918;
}
.left h3 {
  margin-bottom: 3rem;
  font-family: "Roboto Mono";
  font-style: normal;
  font-weight: bolder;
  color: #352817;
}
.left h3 span {
  font-weight: lighter;
  font-size: 18px;
}
.right {
  text-align: center;
  width: 450px;
}
.nutrition_fact span {
  color: #f26b25;
}
.nutrition_fact p {
  margin-bottom: 0.5rem;
}

.seeds {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  font-family: "Roboto Mono";
  font-style: normal;
  font-weight: 400;
}
.seeds div {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.seeds div p {
  width: 60%;
}
.seeds div img {
  width: 89px;
  margin-bottom: 0.5rem;
}
.right h3 {
  font-family: "Roboto Mono";
  font-style: normal;
  font-weight: 900;
  font-size: 17px;
  margin-bottom: 3rem;
}
